@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  font-family: 'Lato', sans-serif;
}

.travel-card, .modal-card {
  background-color: #ededed;
}

.card-titles li:first-child {
  border-bottom: 2px solid silver;
}

.card-titles li:last-child {
  border-bottom: 0px;
}

.card-titles ul {
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
}

.card-titles ul li {
  border-bottom: 1px solid silver;
}

.card-titles ul li span {
  width: 49%;
  display: inline-block;
}

.window {
  border: 1px solid black;
}

.field-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.field-section .field-name {
  display: flex;
  width: 25rem;
}

.field-section .field-name label {
  font-family: 'Nunito', sans-serif;
  font-size: 19px;
  font-weight: 300;
  color: #00000085;
}

.field-section .field {
  font-size: 19px;
  display: flex;
  font-style: italic;
  font-weight: 300;
}

.field-section .field #pass-series {
  width: 9rem;
  margin-right: 1rem;
}

.field-section .field #pass-number {
  width: 20rem;
}

.field-section .field > input {
  width: 30rem;
  padding: 6px 12px;
}

.field-section .field select {
  width: 9.3rem;
  margin-right: 1rem;
}

.field-section .field select:last-child {
  margin-right: 0rem;
}
