@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  font-family: 'Lato', sans-serif;
}

.footer {
  background-color: silver;
}

.footer-content ul {
  list-style: none;
}

.footer-content ul li {
  float: left;
  width: 33.33333333%;
}
