@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Anton|Bree+Serif|Faster+One|Lato|Nunito|Slabo+27px|Spinnaker");
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,800);
@import url("https://fonts.googleapis.com/css?family=Sunflower:300");
@import url(https://fonts.googleapis.com/css?family=Lato:300,700);
* {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: 'Sunflower', sans-serif;
}

.card {
  text-align: center;
}

.card p {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

.card-img {
  display: inline-block;
  background-image: url(http://via.placeholder.com/200x200&text=Title);
  background-size: cover;
  background-position: center;
  min-height: 200px;
  min-width: 200px;
  border-radius: 50%;
  width: 200px;
}

.payment {
  padding-top: 70px;
  padding-bottom: 100px;
  background-image: linear-gradient(to top, #96fbc461 0%, #f9f5864f 100%);
}

.payment-title {
  text-align: center;
}

.payment-title h2 {
  font-family: 'Sunflower', sans-serif;
  font-size: 40px;
}

.payment-form {
  padding: 15px;
  border: 1px solid #12a6677d;
  background-color: #fff;
  text-align: center;
}

.payment-form .form-control {
  font-size: 30px;
  height: 50px;
}

.payment-form button {
  color: #ffffff;
  font-size: 35px;
  background-color: #5cb85c;
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  transition-delay: 0.1s;
  height: 64px;
}

.payment-form button:hover {
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  border: 0px;
}

.payment-form-title {
  font-family: 'Nunito', sans-serif;
  font-size: 38px;
  color: #636363;
}

@media screen and (max-width: 500px) {
  .payment {
    padding-top: 30px;
  }
  .payment-title h2 {
    font-size: 32px;
    padding-bottom: 10px;
  }
  .payment-form button:focus {
    color: #ffffff;
  }
}

.before-travel {
  padding-bottom: 30px;
}

.before-travel .card {
  padding-bottom: 30px;
  text-align: center;
}

.before-travel .card p {
  font-size: 18px;
  margin: 0;
  overflow: hidden;
  color: #5454548c;
}

.card-wrapper {
  background-color: #fbf9f9b8;
  padding-top: 30px;
  padding-bottom: 10px;
}

.travel-title {
  text-align: center;
  font-family: 'Sunflower', sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.travel-text {
  font-family: 'Lato', sans-serif;
  margin: 20px 0px 20px 0px;
  font-size: 13px;
}

label {
  margin-bottom: 0px;
}

.page-title {
  padding-top: 30px;
  padding-bottom: 14px;
}

.step2-title {
  text-align: center;
}

.company-card {
  padding: 1rem;
  background-color: #fbf9f9b8;
  width: 100%;
  margin-bottom: 15px;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.company-card .company-logo-name {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.company-card .company-logo-name .logo img {
  height: 70px;
  width: 70px;
}

.company-card .company-logo-name .name {
  font-size: 18px;
  color: #565656;
  width: 30rem;
  margin-left: 2rem;
  display: flex;
}

.company-card .company-rate {
  cursor: pointer;
  display: flex;
}

.company-card .company-rate .checked:hover {
  color: gold;
}

.company-card .company-price-buy {
  text-align: center;
  display: flex;
  align-items: center;
}

.company-card .company-price-buy .price-view a {
  display: block;
  font-size: 20px;
}

.company-card .company-price-buy .buy {
  margin-left: 2rem;
}

.company-card .company-price-buy .buy .btn-lg {
  font-size: 30px;
}

.calculator {
  background-color: #fbf9f9b8;
}

.step2-calculation {
  padding-top: 30px;
  padding-bottom: 70px;
}

.form1, .form2 {
  width: 70%;
}

.form1 {
  float: right;
  margin-right: 50px;
}

.form2 {
  float: left;
  margin-left: 50px;
}

.calculation-title {
  text-align: center;
}

#little-text {
  font-size: 18px;
  color: #949494;
}

.form-group label {
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  font-weight: 300;
}

.form-group input {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  height: 40px;
}

.calculation-form select {
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 4px;
  background-color: #fff;
}

.calculate-button {
  text-align: right;
}

.calculate-button button {
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  font-size: 25px;
}

@media screen and (max-width: 991px) {
  .company-card {
    margin-bottom: 40px;
  }
  .company-card .company-logo-name .name {
    width: 13rem;
    margin-left: 1rem;
    display: flex;
  }
  .company-card .company-price-buy {
    flex-direction: column;
  }
  .company-card .company-price-buy .price {
    font-size: 4rem;
  }
  .company-card .company-price-buy .buy {
    margin-top: 4rem;
    margin-left: 0rem;
  }
  .company-card .company-price-buy .buy button {
    width: 30rem;
  }
  .form1, .form2 {
    width: 100%;
  }
  .form1 {
    float: none;
    margin-right: 0px;
  }
  .form2 {
    float: none;
    margin-left: 0px;
  }
  .calculation-title {
    margin-bottom: 20px;
  }
  .calculate-button {
    padding-top: 15px;
    text-align: center;
  }
  .calculate-button button {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) {
  .company-card {
    flex-direction: column;
  }
  .company-card .company-logo-name {
    flex-direction: column;
  }
  .company-card .company-logo-name .name {
    margin: 1rem 0;
    text-align: center;
    justify-content: space-around;
    font-size: 25px;
    width: 30rem;
    margin-left: 1rem;
    display: flex;
  }
  .company-card .company-price-buy .buy button {
    width: 27rem;
  }
  .back-button {
    float: none;
    text-align: center;
  }
}

.step3-form {
  padding-top: 50px;
  padding-bottom: 80px;
}

.order-card {
  font-size: 20px;
}

.order-card thead tr th {
  border: 0px;
  font-family: 'Sunflower', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.order-card tbody {
  background-color: #fbf9f9b8;
  border: 1px solid #5cb85c69;
}

.order-card tbody tr th, .order-card tbody tr td {
  padding-left: 25px;
  border: 0px;
}

.customer-info .form-group {
  margin: 0;
}

.info-title {
  text-align: center;
  font-family: 'Sunflower', sans-serif;
  font-size: 35px;
}

.card-title {
  font-size: 20px;
}

.card-meaning {
  font-size: 20px;
}

.form-control {
  border-radius: 0px;
}

.custom-checkbox label {
  font-size: 18px;
  margin-top: 1rem;
}

.custom-checkbox #success {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.back-button {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.back-button button {
  font-size: 25px;
}

.back-button .btn-warning {
  background-color: #689cffba;
  transition-delay: 0.1s;
  border: 0px;
}

.back-button .btn-warning:hover {
  background-color: #689cff;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.buttons button {
  font-size: 25px;
}

.step3-warning-button button {
  font-size: 25px;
}

@media screen and (max-width: 500px) {
  .customer-info .form-group {
    margin-top: 1rem;
  }
  .checkbox {
    text-align: center;
  }
  .checkbox input {
    left: 25px;
  }
  .checkbox label {
    padding-left: 50px;
  }
  .step3-warning-button {
    text-align: center;
  }
  .order-card {
    margin-bottom: 50px;
  }
  .order-card tbody tr th, .order-card tbody tr td {
    padding-left: 5px;
  }
}

@media screen and (max-width: 320px) {
  .buttons button {
    font-size: 20px;
    width: 45%;
  }
}

.step4-form {
  padding-top: 40px;
  padding-bottom: 70px;
}

.step4-form input {
  border: 1px solid #ccc;
}

.contact-info .field-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-info .field-section .field-name {
  display: flex;
  width: 25rem;
}

.contact-info .field-section .field-name label {
  font-family: 'Nunito', sans-serif;
  font-size: 19px;
  font-weight: 300;
  color: #00000085;
}

.contact-info .field-section .field {
  font-size: 19px;
  display: flex;
  font-style: italic;
  font-weight: 300;
}

.contact-info .field-section .field #pass-series {
  width: 9rem;
  margin-right: 1rem;
}

.contact-info .field-section .field #pass-number {
  width: 20rem;
}

.contact-info .field-section .field > input {
  width: 30rem;
  padding: 6px 12px;
}

.contact-info .field-section .field select {
  width: 9.3rem;
  margin-right: 1rem;
}

.contact-info .field-section .field select:last-child {
  margin-right: 0rem;
}

.contact-info .sep-info {
  font-size: 27px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: 'Sunflower', sans-serif;
}

.contact-info .house #house-label {
  width: 25rem;
  padding-left: 0rem;
}

.contact-info .house .field-name {
  width: 8rem;
  padding-left: 3rem;
}

.contact-info .house .field input {
  width: 11rem;
}

.step4-buttons {
  margin-top: 2rem;
  text-align: center;
}

.step4-buttons button {
  font-size: 25px;
  width: 20rem;
  font-weight: 700;
}

.step4-buttons .btn-warning {
  background-color: #689cffba;
  transition-delay: 0.1s;
  border: 0px;
}

.step4-buttons .btn-warning:hover {
  background-color: #689cff;
}

@media screen and (max-width: 768px) {
  .contact-info form {
    padding-left: 8.5rem;
  }
}

@media screen and (max-width: 500px) {
  .contact-info form {
    padding-left: 0rem;
  }
  .contact-info .field-section {
    flex-direction: column;
  }
  .contact-info .field-section .field-name {
    width: auto;
  }
  .contact-info .sep-info {
    text-align: center;
  }
  .contact-info .house #house-label {
    width: auto;
  }
  .contact-info .house .field-name {
    width: auto;
    padding-left: 0rem;
  }
  .contact-info .house .field input {
    width: 11rem;
  }
  .step4-buttons .btn-success {
    margin-bottom: 3rem;
  }
}

.modal-button-succes {
  float: right;
}

.modal-card {
  font-size: 20px;
}

.modal-card thead tr th {
  border: 0px;
  font-family: 'Sunflower', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.modal-card tbody {
  background-color: #fbf9f9b8;
  border: 1px solid #5cb85c69;
}

.modal-card tbody tr th, .modal-card tbody tr td {
  padding-left: 25px;
  border: 0px;
}

.modal-content {
  padding: 15px;
}

.start-date {
  text-align: center;
}
