@import url("https://fonts.googleapis.com/css?family=Lato|Nunito|Sunflower:300");
* {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: "Sunflower", sans-serif;
}

.tab-pane {
  padding: 15px;
}

.tab-2-title {
  font-family: 'Sunflower', sans-serif;
  font-size: 25px;
}

.tab-content {
  margin-bottom: 4rem;
}

.chose-parametrs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fbf9f9;
}

.chose-parametrs .type-value {
  font-family: 'Nunito', sans-serif;
}

.chose-parametrs .type-value .type {
  font-size: 20px;
}

.chose-parametrs .type-value .value {
  font-size: 17px;
  font-style: italic;
}

.chose-parametrs .type-value .value input {
  width: 9rem;
}

.chose-parametrs .validity {
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.chose-parametrs .validity .validity-period {
  font-size: 20px;
}

.chose-parametrs .validity .period-value {
  font-size: 20px;
}

.chose-sort {
  display: flex;
  margin-top: 5px;
  align-items: center;
  margin-bottom: 2rem;
}

.chose-sort .sort-title {
  font-size: 20px;
}

.chose-sort .sort-rating, .chose-sort .sort-price {
  display: flex;
  font-size: 15px;
  text-align: center;
  margin-left: 3rem;
}

.chose-sort .sort-rating .sort-buttons, .chose-sort .sort-price .sort-buttons {
  margin-left: 1rem;
}

.company-card {
  padding: 1rem;
  background-color: #fbf9f9b8;
  width: 100%;
  margin-bottom: 15px;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.company-card .company-logo-name {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.company-card .company-logo-name .logo img {
  height: 70px;
  width: 70px;
}

.company-card .company-logo-name .name {
  font-size: 18px;
  color: #565656;
  width: 30rem;
  margin-left: 2rem;
  display: flex;
}

.company-card .company-rate {
  cursor: pointer;
  display: flex;
}

.company-card .company-rate .checked:hover {
  color: gold;
}

.company-card .company-price-buy {
  text-align: center;
  display: flex;
  align-items: center;
}

.company-card .company-price-buy .price-view a {
  display: block;
  font-size: 20px;
}

.company-card .company-price-buy .buy {
  margin-left: 2rem;
}

.company-card .company-price-buy .buy .btn-lg {
  font-size: 30px;
}

.travel {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.travel-title {
  text-align: center;
  font-family: 'Sunflower', sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.step3-form {
  padding-top: 50px;
  padding-bottom: 80px;
}

.tab-content-3 {
  margin-right: 15px;
  margin-left: 15px;
}

.order-card {
  font-size: 20px;
}

.order-card thead tr th {
  border: 0px;
}

.order-card tbody {
  background-color: #ededed2b;
  border: 1px solid #5cb85c69;
}

.order-card tbody tr th, .order-card tbody tr td {
  padding-left: 25px;
  border: 0px;
}

.customer-info .form-group {
  margin: 0;
}

.info-title {
  text-align: center;
  font-family: 'Sunflower', sans-serif;
  font-size: 35px;
}

.card-title {
  font-size: 20px;
}

.card-meaning {
  font-size: 20px;
}

.form-control {
  border-radius: 0px;
}

.custom-checkbox label {
  font-size: 14px;
  font-weight: 300;
  margin-top: 1rem;
}

.custom-checkbox #success {
  position: relative;
  top: 3px;
  height: 14px;
  width: 20px;
}

.back-button {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.back-button button {
  font-size: 25px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.buttons button {
  font-size: 25px;
}

.step3-warning-button button {
  font-size: 25px;
}

@media screen and (max-width: 500px) {
  .customer-info .form-group {
    margin-top: 1rem;
  }
  .checkbox {
    text-align: center;
  }
  .checkbox input {
    left: 25px;
  }
  .checkbox label {
    padding-left: 50px;
  }
  .step3-warning-button {
    text-align: center;
  }
  .order-card tbody tr th, .order-card tbody tr td {
    padding-left: 5px;
  }
}

@media screen and (max-width: 320px) {
  .buttons button {
    font-size: 20px;
    width: 45%;
  }
}

.card {
  text-align: center;
}

.card p {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

.card-img {
  display: inline-block;
  background-image: url(http://via.placeholder.com/200x200&text=Title);
  background-size: cover;
  background-position: center;
  min-height: 200px;
  min-width: 200px;
  border-radius: 50%;
  width: 200px;
}

.form-control {
  border-radius: 0px;
}

.card-wrapper {
  background-color: #fbf9f9b8;
  padding-top: 30px;
  padding-bottom: 10px;
}

.tab-pane {
  padding-top: 15px;
}

.tab-content {
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
}
