.payment
    padding:
        top: 30px
        bottom: 50px
.payment-form
    border: 1px solid black
.before-travel
    background-color: #ededed
.travel-title
    text-align: center
// Motor step 2
.step2-title
    text-align: center 
.company-card
    background-color: #ededed
    .company-logo, .company-name, .company-rate, .insurance-cost, .bue-button
        display: inline-block
    .company-rate
        .checked 
            color: orange
    .insurance-cost, .bue-button
        float: right
.step2-calculation
    border:
        top: 1px solid black
    background-color: #ededed
.calculate-button
    text-align: right