.payment
    padding:
        top: 30px
        bottom: 50px
.payment-form
    border: 1px solid black
.before-travel
    background-color: #ededed
.travel-title
    text-align: center
// Motor step 2
.step2-title
    text-align: center 
.company-card
    background-color: #ededed
    .company-logo, .company-name, .company-rate, .insurance-cost, .bue-button
        display: inline-block
    .company-rate
        .checked 
            color: orange
    .insurance-cost, .bue-button
        float: right
.step2-calculation
    border:
        top: 1px solid black
    background-color: #ededed
.calculate-button
    text-align: right
//Motor step 3
.step3-form
    background-color: #ededed
.step3-form-wrapper
    border: 1px solid black
    padding:
        left: 10px
    background-color: #ffffff
.order-card
    background-color: #ededed
.card-titles
    li:first-child
        border:
            bottom: 2px solid silver
    li:last-child
        border:
            bottom: 0px
    ul
        padding:
            left: 10px
            right: 10px
        list-style: none
        li
            border:
                bottom: 1px solid silver
            span
                width: 49%
                display: inline-block
$vis = .contact-info.height
.customer-info
    .form-group
        label
            text-align: left
.order-card
    background-color: green
    height: $vis

        

