@import url('https://fonts.googleapis.com/css?family=Lato|Nunito|Sunflower:300')
*
    font-family: 'Lato', sans-serif

h2
    font-family: "Sunflower", sans-serif

.tab-pane
    padding: 15px

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover

    color: #555
    cursor: default
    background-color: #fdfcfc
    border: 0px
    border-bottom-color: transparent

.nav-tabs
    border-bottom: 0px
    >li
        width: 33.3333333%
        text-align: center
        font-size: 2rem
        >a
            margin-right: 2px
            line-height: 1.42857143
            background-color: #f9f9f9
            color: #529a52
            border: 1px solid transparent
            border-radius: 4px 4px 0 0
            padding: 10px

.tab-content
    border-bottom: 1px solid #c0c0c038
    border-right: 1px solid #c0c0c038
    border-left: 1px solid #c0c0c038
    margin-bottom: 4rem
    min-height: 490px



.tab-step-title
    display: flex
    justify-content: space-around
    align-items: center
    color: #ddd

    .step-circle
        border: 0.1px solid #ddd
        display: flex
        align-items: center
        height: 39px
        width: 39px
        border-radius: 50%
        overflow: hidden
        font-size: 11px
        padding: 3px
        background-image: linear-gradient(120deg, unquote("#d4fc7978")  0%, unquote("#96e6a182")  100%)

    .step-description
        font-size: 20px

.active
    .step-circle
        color: #000000
        border: 1px solid #ddd
        background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%)
    .step-description
        color: #529a52
        font-size: 25px

//==============================TAB 1 CONTENT=================================================
input, .mr-dropdown
    font-style: italic
    border: 1px solid #ccc
    font-weight: 300
    padding: 6px 12px
    background-color: #ffffff

.mr-dropdown
    width: 12rem

.tab-step1
    padding: 50px 0px 50px 0px
    font-size: 20px

    .area, .lim-title
        font-family: 'Sunflower', sans-serif
        font-size: 25px

    .lim-sum
        display: flex
        justify-content: center
        margin-bottom: 1rem

        .limit
            margin-right: 1rem

    .coverage-area, .coverage-limit
        text-align: center

    .coverage-limit
        border-left: 1px solid #c0c0c038

    .step1-button
        float: right

        .btn-lg
            font-size: 25px



.tab-step2
    font-size: 20px

    .title
        font-family: 'Sunflower', sans-serif
        font-size: 25px
    .trip-type
        text-align: center

        .title
            margin: 1rem 0rem 1rem 0rem

        .types
            a
                margin: 1rem
            .active-type
                padding: 5px
                border: 1px solid #ddd

    .valid-type

        .title
            margin: 1rem 0rem 1rem 0rem

        #one-off-validity
            display: none

        #reusable-validity
            display: none

        .active-validity-type
            display: block !important
    .buttons
        .btn-success
            float: right
        .bnt-warning
            float: left



.tab-step3, .modal-content

    .tourist-card
        display: flex
        justify-content: space-around
        align-items: center
        padding-bottom: 1rem
        font-size: 20px
        background-color: #fcfbfb
        padding-top: 1rem

        .tourist-name, .tourist-age
            .name, .age-picker
                input
                    width: 12rem

        .tourist-age
            

        .tourist-name, .trip-type, .tourist-age
            display: flex
            align-items: center
                
            .name-label, .age-label, .trip-label
                margin-right: 2rem

        .trip-dropdown

            .mr-dropdown
                width: 14rem

        .add-tourist
            color: #459f72




//==============================TAB 1 CONTENT=================================================
//==============================TAB 2 CONTENT=================================================

.tab-2-title
    font-family: 'Sunflower', sans-serif
    font-size: 25px

//----------------------------CHOOSE PARAMETRS----------------------------
.chose-parametrs
    display: flex
    align-items: center
    justify-content: space-around
    padding-bottom: 1rem
    border-bottom: 2px solid #fbf9f9
    .type-value
        font-family: 'Nunito', sans-serif

        .type
            font-size: 20px

        .value
            font-size: 17px
            font-style: italic
            input
                width: 9rem

    .validity
        display: flex
        align-items: center
        font-family: 'Nunito', sans-serif
        .validity-period
            font-size: 20px
        .period-value
            font-size: 20px

.chose-sort
    display: flex
    margin-top: 5px
    align-items: center
    margin-bottom: 2rem
    .sort-title
        font-size: 20px
    .sort-rating, .sort-price
        display: flex
        font-size: 15px
        align-items: center
        margin-left: 3rem
        .sort-buttons
            margin-left: 1rem
            button
                width: 8rem
                padding: 4px
                font-size: 14px

.chose-parametrs
    .far, .fas
        color: #a7a7a7

.company-card
    padding: 1rem
    background-color: #fbf9f9b8
    width: 100%
    margin-bottom: 15px
    font-size: 30px
    display: flex
    justify-content: space-around
    align-items: center
    .company-logo-name
        cursor: pointer
        display: flex
        align-items: center
        .logo
            img
                height: 70px
                width: 70px
        .name
            font-size: 18px
            color: #565656
            width: 30rem
            margin-left: 2rem
            display: flex

    .company-rate
        cursor: pointer
        display: flex
        .checked
            &:hover
                color: gold

    .company-price-buy
        text-align: center
        display: flex
        align-items: center
        .price-view
            a
                display: block
                font-size: 20px
        .buy
            margin-left: 2rem
            .btn-lg
                font-size: 30px



//==============================TAB 2 CONTENT=================================================
//==============================TAB 3 CONTENT AND BEFORE TRAVEL CONTENT=======================
.travel
    padding:
        top: 3rem
        bottom: 5rem

.travel-title
    text-align: center
    font-family: 'Sunflower', sans-serif
    text-transform: uppercase
    margin-bottom: 30px

.step3-form
    padding-top: 50px
    padding-bottom: 80px

.tab-content-3
    margin:
        right: 15px
        left: 15px

.order-card
    font-size: 20px
    thead
        tr
            th
                border: 0px
    tbody
        background-color: #ededed2b
        border: 1px solid #5cb85c69
        tr
            th, td
                padding-left: 25px
                border: 0px

.customer-info
    .form-group
        margin: 0
.info-title
    text-align: center
    font-family: 'Sunflower', sans-serif
    font-size: 35px

.card-title
    font-size: 20px

.card-meaning
    font-size: 20px

.form-control
    border-radius: 0px

.custom-checkbox
    label
        font-size: 14px
        font-weight: 300
        margin-top: 1rem
    #success
        position: relative
        top: 3px
        height: 14px
        width: 20px

.back-button
    margin-top: 2rem
    margin-bottom: 4rem
    button
        font-size: 25px

.buttons
    display: flex
    justify-content: space-around
    margin:
        top: 2rem
        bottom: 4rem
    button
        font-size: 25px

.step3-warning-button
    button
        font-size: 25px

.card
    text-align: center
    p
        font-family: 'Nunito', sans-serif
        font-size: 18px

.card-img
    display: inline-block
    background-image: url(http://via.placeholder.com/200x200&text=Title)
    background-size: cover
    background-position: center
    min-height: 200px
    min-width: 200px
    border-radius: 50%
    width: 200px

.form-control
    border-radius: 0px

.card-wrapper
    background-color: #fbf9f9b8
    padding-top: 30px
    padding-bottom: 10px
    




@media screen and (max-width: 768px)
    .modal-body
        .tourist-card
            font-size: 17px
            .trip-label
                margin-right: 1rem

    .tab-step-title
        .step-description
            font-size: 14px

    .active
        .step-description
            font-size: 16px

    .validity-period
        input
            width: 15rem

    .tab-step3,.modal-body
        .tourist-card
            font-size: 16px
            .tourist-name, .trip-type, .tourist-age
                .age-label, .trip-label
                    margin-right: 1rem
                    margin-left: 1rem
                .name-label
                    margin-right: 1rem

            .trip-dropdown
                select
                    width: 12rem

        .age-picker
            input
                width: 10rem

    .chose-parametrs
        .tab-2-title
            font-size: 17px

        .type-value
            .type
                font-size: 14px

            .value
                font-size: 12px
                input
                    width: 9rem

        .validity
            .validity-period
                font-size: 15px

            .period-value
                font-size: 15px

    .chose-sort
        .sort-title
            font-size: 17px

        .sort-rating, .sort-price
            font-size: 14px

    .company-card
        .company-logo-name
            .name
                width: 10rem
                margin-left: 1rem

        .company-price-buy
            .price-view
                .price
                    font-size: 3rem

            .buy
                margin-top: 1rem
                
                button
                    width: 20rem




    .customer-info

        .info-title
            font-size: 30px

        .field-section
            .field > input
                width: 22rem

        



@media screen and (max-width: 500px)
    .tab-step1
        padding: 10px 0px 20px 0px

    .tab-step-title
        .step-description
            display: none

    .tab-step3,.modal-body
        .tourist-card
            font-size: 20px
            display: block
            padding: 1rem

            .tourist-name, .tourist-age, .trip-type
                justify-content: space-between
                margin: 1rem 0 1rem 0
            
            .tourist-name
                .name-label
                    margin: 0

            .tourist-age
                .age-label
                    margin: 0

            .trip-type
                .trip-label
                    margin: 0

            .add-tourist
                text-align: center
                button
                    font-size: 20px
                    .fa-user-plus
                        &:before
                            content: "Add tourist \f234"

    .company-card
        .company-logo-name
            .name
                width: auto
                margin-left: 1rem

    .customer-info
        .form-group
            margin-top: 1rem
        .field
            input
                font-size: 19px

    .custom-checkbox
        label
            font-size: 19px

    .checkbox
        text-align: center

        input
            left: 25px

        label
            padding-left: 50px

    .step3-warning-button
        text-align: center

    .order-card
        tbody
            tr
                th, td
                    padding-left: 5px

    .chose-parametrs
        height: 50px
        overflow: hidden
        display: block
        transition-duration: 1s
        text-align: center
        >div
            display: inline-block
        .tab-2-title
            border-radius: 6px
            background-color: #f3f3f3
            width: 100%
            font-size: 30px
        .type-value
            margin: 1rem 0 1rem 0
            width: 100%
            border-bottom: 1px solid #cccccc
            .type
                font-size: 25px
            .value
                font-size: 20px
        .validity
            margin: 1rem 0 1rem 0
            display: block
            .validity-period
                font-size: 25px
            .period-value
                font-size: 20px
        .tab-2-title
            &:after
                font-family: "Font Awesome 5 Free"
                content: "\f0d7"
                font-weight: 900

        &:hover
            height: 550px
            .tab-2-title
                &:after
                    font-family: "Font Awesome 5 Free"
                    content: "\f0d8"
                    font-weight: 900
        

    .chose-sort
        display: flex
        justify-content: space-between
        .sort-title
            display: none
        .sort-rating, .sort-price
            font-size: 23px
            margin-left: 0
            .sort-buttons
                button
                    padding: 5px
                    font-size: 15px
        


@media screen and (max-width: 375px)
    .validity-period
        input
            width: 14.9rem

    .tab-step1
        .step1-button
            .btn-lg
                font-size: 20px

    .chose-sort
        justify-content: space-between
        .sort-title
            font-size: 20px
        .sort-rating, .sort-price
            display: flex
            margin-left: 5px
            >span
                font-size: 20px
            .sort-buttons
                button
                    width: 5rem

    .tab-pane
        .buttons
            button
                font-size: 16px
        .back-button
            button
                font-size: 18px
    .customer-info
        .field-section
            .field
                input
                    font-size: 14px


@media screen and (max-width: 320px)
    .buttons
        button
            font-size: 20px
            width: 45%

    .validity-period
        input
            width: 12rem

    .customer-info
        .field-section
            .field
                input
                    width: 17rem

    .order-card
        thead
            tr
                th
                    font-size: 25px