@import url('https://fonts.googleapis.com/css?family=Lato|Nunito|Sunflower:300')
*
    font-family: 'Lato', sans-serif

h2
    font-family: "Sunflower", sans-serif
.travel-card
    background-color: #ededed

.card
    text-align: center
    p
        font-family: 'Nunito', sans-serif
        font-size: 18px

.card-img
    display: inline-block
    background-image: url(http://via.placeholder.com/200x200&text=Title)
    background-size: cover
    background-position: center
    min-height: 200px
    min-width: 200px
    border-radius: 50%
    width: 200px

.form-control
    border-radius: 0px
//==============================TAB CONTENT==============================
.tab-pane
    padding:
        top: 15px
    
.tab-content
    border:
        bottom: 1px solid silver
        right: 1px solid silver
        left: 1px solid silver