.travel-card
    background-color: #ededed
.card-titles
    li:first-child
        border:
            bottom: 2px solid silver
    li:last-child
        border:
            bottom: 0px
    ul
        padding:
            left: 10px
            right: 10px
        list-style: none
        li
            border:
                bottom: 1px solid silver
            span
                width: 49%
                display: inline-block