<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/buy_online.css">
    <title>Buy online</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="window">
                    <div class="row">
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <form action="">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="modal-card">
                                                    <div class="card-titles">
                                                        <ul>
                                                            <li>
                                                                <span class="card-title">
                                                                    <b>Tourist</b>
                                                                </span>
                                                                <span class="card-meaning"></span>
                                                            </li>
                                                            <li>
                                                                <span class="card-title">Pasport:</span>
                                                                <span class="card-meaning">BH928787</span>
                                                            </li>
                                                            <li>
                                                                <span class="card-title">Issued by:</span>
                                                                <span class="card-meaning">something</span>
                                                            </li>
                                                            <li>
                                                                <span class="card-title">When:</span>
                                                                <span class="card-meaning">12/07/1995</span>
                                                            </li>
                                                            <li>
                                                                <span class="card-title">Name:</span>
                                                                <span class="card-meaning">Carl</span>
                                                            </li>
                                                            <li>
                                                                <span class="card-title">Surname:</span>
                                                                <span class="card-meaning">Johnson</span>
                                                            </li>
                                                            <li>
                                                                <span class="card-title">Date of birthday</span>
                                                                <span class="card-meaning">01/01/1980</span>
                                                            </li>
                                                            <li>
                                                                <span class="card-title">ITN</span>
                                                                <span class="card-meaning">1110111001</span>
                                                            </li>
                                                            <li>
                                                                <span class="card-title">Registration address</span>
                                                                <span class="card-meaning">somewhere</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="modal-card">
                                                    <div class="card-titles">
                                                        <ul>
                                                            <li>
                                                                <span class="card-title">
                                                                    <b>Contact info</b>
                                                                </span>
                                                                <span class="card-meaning"></span>
                                                            </li>
                                                            <li>
                                                                <span class="card-title">phone:</span>
                                                                <span class="card-meaning">8 800 535 35 35</span>
                                                            </li>
                                                            <li>
                                                                <span class="card-title">Email:</span>
                                                                <span class="card-meaning">shlapa@sho.com</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="modal-button-back">
                                                            <button class="btn btn-default btn-lg">Back to filling data</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="modal-button-succes">
                                                            <button class="btn btn- btn-lg">Registered insurance policy</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="travel-card">
                                <div class="card-titles">
                                    <ul>
                                        <li>
                                            <span class="card-title">
                                                <b>Toy order:</b>
                                            </span>
                                            <span class="card-meaning"></span>
                                        </li>
                                        <li>
                                            <span class="card-title">Tyte:</span>
                                            <span class="card-meaning">Travel</span>
                                        </li>
                                        <li>
                                            <span class="card-title">Company:</span>
                                            <span class="card-meaning">UPSK</span>
                                        </li>
                                        <li>
                                            <span class="card-title">Limit coverage:</span>
                                            <span class="card-meaning">$30 000</span>
                                        </li>
                                        <li>
                                            <span class="card-title">Coverage area:</span>
                                            <span class="card-meaning">Albania</span>
                                        </li>
                                        <li>
                                            <span class="card-title">Trip type:</span>
                                            <span class="card-meaning">One time</span>
                                        </li>
                                        <li>
                                            <span class="card-title">Tourists:</span>
                                            <span class="card-meaning">25 years</span>
                                        </li>
                                        <li>
                                            <span class="card-title">Period of validity:</span>
                                            <span class="card-meaning">15/07/2018-29/07/2018</span>
                                        </li>
                                        <li>
                                            <span class="card-title">Validity(days):</span>
                                            <span class="card-meaning">15</span>
                                        </li>
                                        <li>
                                            <b>
                                                <span class="card-title">Total:</span>
                                                <span class="card-meaning">400 UAH</span>
                                            </b>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="contact-info">
                                <div class="h4">Enter pasport data of the insured</div>
                                <form action="">
                                    <div class="form-group">
                                        <div class="pasport">
                                            <label for="">Passport series and number</label>
                                            <input type="text">
                                            <input type="text">
                                        </div>
                                        <div class="issued">
                                            <label for="">Issued by</label>
                                            <input type="text">
                                        </div>
                                        <div class="when">
                                            <label for="">When</label>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Day
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="#">Действие</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Другое действие</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Что-то иное</a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a href="#">Отдельная ссылка</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Month
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="#">Действие</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Другое действие</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Что-то иное</a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a href="#">Отдельная ссылка</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Year
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="#">Действие</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Другое действие</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Что-то иное</a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a href="#">Отдельная ссылка</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="name">
                                            <label for="">Name</label>
                                            <input type="text">
                                        </div>
                                        <div class="surname">
                                            <label for="">Surname</label>
                                            <input type="text">
                                        </div>
                                        <div class="birthday">
                                            <label for="">Date of birthday</label>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Day
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="#">Действие</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Month
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="#">Действие</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Year
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li>
                                                        <a href="#">Действие</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="itn">
                                            <label for="">ITN</label>
                                            <input type="text">
                                        </div>
                                        <div class="reg-adr">
                                            <label for="">Registration address</label>
                                            <input type="text">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-warning btn-lg">Back</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-success btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
</body>
</html>