<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../sass/footer.css">

    <link rel="stylesheet" href="../../Insurance/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Footer</title>
</head>
<body>
    <div class="footer">
        <div class="container">
            <div class="footer-content">
                <ul>
                    <li>
                        <div class="footer-librarus">
                            <div class="h2"><b>Types</b></div>
                            <div class="h3">Motor library</div>
                            <div class="h3">Travel</div>
                        </div>
                    </li>
                    <li>
                        <div class="footer-pages">
                            <div class="h2"><b>Insurance-ua</b></div>
                            <div class="h3">About us</div>
                            <div class="h3">FAQ</div>
                            <div class="h3">Terms and conditions</div>
                            <div class="h3">Payment</div>
                            <div class="h3">Delivery</div>
                            <div class="h3">Site Map</div>
                            <div class="h3">Contacts</div>
                        </div>
                    </li>
                    <li>
                        <div class="footer-form">
                            <div class="footer-number">
                                <div class="h2"></div>
                            </div>
                            <form role="form">
                                <div class="form-group">
                                    <input class="form-control input-lg" type="text" placeholder="Name*">
                                </div>
                                <div class="form-group">
                                    <input class="form-control input-lg" type="text" placeholder="Email*">
                                </div>
                                <div class="form-group">
                                    <input class="form-control input-lg" type="text" placeholder="Phone">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" id="message" cols="30" rows="5" placeholder="Message*"></textarea>
                                </div>
                                <button type="submit" class="btn btn-default btn-lg">Отправить</button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer-copyright">
            </div>
        </div>
    </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../Insurance/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
</body>
</html>