<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Insurance/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/motor_steps.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Motor step 4</title>
</head>
<body>
    <div class="step4-form">
        <div class="container">
            <div class="row">
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <form action="">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="modal-card">
                                            <div class="card-titles">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">You order:</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th>Type:</th>
                                                            <td>Motor liab</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Company:</th>
                                                            <td>UPSK</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Limit coverage:</th>
                                                            <td>$30 000</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Francise:</th>
                                                            <td>$100</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Validity:</th>
                                                            <td>12 month</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Total:</th>
                                                            <td>1400 UAH</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="modal-card">
                                            <div class="card-titles">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">You order:</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th>Type:</th>
                                                            <td>Motor liab</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Company:</th>
                                                            <td>UPSK</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Limit coverage:</th>
                                                            <td>$30 000</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Francise:</th>
                                                            <td>$100</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Validity:</th>
                                                            <td>12 month</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Total:</th>
                                                            <td>1400 UAH</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-6">
                                                <div class="modal-card">
                                                    <div class="card-titles">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">You order:</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th>Type:</th>
                                                                    <td>Motor liab</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Company:</th>
                                                                    <td>UPSK</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Limit coverage:</th>
                                                                    <td>$30 000</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Francise:</th>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Validity:</th>
                                                                    <td>12 month</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Total:</th>
                                                                    <td>1400 UAH</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6">
                                                <div class="modal-card">
                                                    <div class="card-titles">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">You order:</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th>Type:</th>
                                                                    <td>Motor liab</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Company:</th>
                                                                    <td>UPSK</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Limit coverage:</th>
                                                                    <td>$30 000</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Francise:</th>
                                                                    <td>$100</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Validity:</th>
                                                                    <td>12 month</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Total:</th>
                                                                    <td>1400 UAH</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="start-date">
                                            <div class="form-group">
                                                <label>Select the start date of the insurance policy</label>
                                                <br>
                                                <select id="dayDropDown" name="dayDropDown">
                                                </select>
                                                <select id="monthDropDown" name="monthDropDown">
                                                </select>
                                                <select id="yearDropDown" name="yearDropDown">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-6">
                                                <div class="modal-button-back">
                                                    <button class="btn btn-default btn-lg">Back to filling data</button>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-6">
                                                <div class="modal-button-succes">
                                                    <button class="btn btn-success btn-lg">Back to filling data</button>                                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="order-card">
                        <div class="card-titles">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">You order</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Type:</th>
                                        <td>Motor liab</td>
                                    </tr>
                                    <tr>
                                        <th>Company:</th>
                                        <td>UPSK</td>
                                    </tr>
                                    <tr>
                                        <th>Limit coverage:</th>
                                        <td>$30 000</td>
                                    </tr>
                                    <tr>
                                        <th>Francise:</th>
                                        <td>$100</td>
                                    </tr>
                                    <tr>
                                        <th>Validity:</th>
                                        <td>12 month</td>
                                    </tr>
                                    <tr>
                                        <th>Total:</th>
                                        <td>1400 UAH</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact-info">
                        <div class="info-title">Enter contact information</div>
                        <form action="">
                            <div class="field-section">
                                <div class="field-name">
                                    <label for="">Passport series and number</label>
                                </div>
                                <div class="field">
                                    <input type="text" id="pass-series" placeholder="Series">
                                    <input type="text" id="pass-number" placeholder="Number">
                                </div>
                            </div>
                            <div class="field-section">
                                <div class="field-name">
                                    <label for="">Issued by</label>
                                </div>
                                <div class="field">
                                    <input type="text" placeholder="">
                                </div>
                            </div>
                            <div class="field-section">
                                <div class="field-name">
                                    <label for="">When</label>
                                </div>
                                <div class="field">
                                    <input type="text" id="datepicker" placeholder="Enter date">
                                </div>
                            </div>
                            <div class="field-section">
                                <div class="field-name">
                                    <label for="">Name</label>
                                </div>
                                <div class="field">
                                    <input type="text" placeholder="">
                                </div>
                            </div>
                            <div class="field-section">
                                <div class="field-name">
                                    <label for="">Surname</label>
                                </div>
                                <div class="field">
                                    <input type="text" placeholder="">
                                </div>
                            </div>
                            <div class="field-section">
                                <div class="field-name">
                                    <label for="">Patronymic</label>
                                </div>
                                <div class="field">
                                    <input type="text" placeholder="">
                                </div>
                            </div>
                            <div class="field-section">
                                <div class="field-name">
                                    <label for="">Date of birthday</label>
                                </div>
                                <div class="field">
                                    <input type="text" id="datepicker2" placeholder="Enter date">
                                </div>
                            </div>
                            <div class="field-section">
                                <div class="field-name">
                                    <label for="">ITN</label>
                                </div>
                                <div class="field">
                                    <input type="text" placeholder="">
                                </div>
                            </div>
                            <div class="field-section">
                                <div class="field-name">
                                    <label for="">Registration address</label>
                                </div>
                                <div class="field">
                                    <input type="text" placeholder="Street,Number,City">
                                </div>
                            </div>
                            <div class="field-section">
                                <div class="field-name">
                                    <label for="">ITN</label>
                                </div>
                                <div class="field">
                                    <input type="text" placeholder="">
                                </div>
                            </div>
                            <div class="sep-info">
                                <span>Enter the address of registration of the insured</span>
                            </div>
                            <div class="field-section">
                                <div class="field-name">
                                    <label for="">Locality</label>
                                </div>
                                <div class="field">
                                    <input type="text" placeholder="">
                                </div>
                            </div>
                            <div class="field-section">
                                <div class="field-name">
                                    <label for="">Street</label>
                                </div>
                                <div class="field">
                                    <input type="text" placeholder="">
                                </div>
                            </div>
                            <div class="field-section house">
                                <div class="field-name" id="house-label">
                                    <label for="">House number</label>
                                </div>
                                <div class="field">
                                    <input type="text" placeholder="№">
                                </div>
                                <div class="field-name">
                                    <label for="">Flat</label>
                                </div>
                                <div class="field">
                                    <input type="text" placeholder="">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="step4-buttons">
                        <div class="row">
                            <div class="col-xs-12 col-sm-push-6 col-sm-6 col-md-6">
                                <button class="btn btn-success btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg">Next</button>
                            </div>
                            <div class="col-xs-12 col-sm-pull-6 col-sm-6 col-md-6">
                                <button class="btn btn-warning btn-lg">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../bootstrap-3.3.2-dist/js/bootstrap.min.js"></script> 
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
    <script>
        $(function(){
            $("#datepicker").datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true
            });
            $("#datepicker2").datepicker({
                dateFormat: "dd-mm-yy",
                changeMonth: true,
                changeYear: true
            });
        });
    </script> 
</body>
</html>