<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Insurance/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/motor_steps.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Motor step 2</title>
</head>
<body>
    <div class="company">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="step2-title">
                        <div class="h2">To purchaise a Motor Liability, choose an insurance company:</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="company-card">
                        <div class="company-logo">
                            <img src="http://via.placeholder.com/125x125&text=logo" class="img-circle">
                        </div>
                        <div class="company-name">
                            <div class="h2">Name</div>
                        </div>
                        <div class="company-rate">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="bue-button">
                            <button type="button" class="btn btn-primary btn-lg">Use company</button>
                        </div>
                        <div class="insurance-cost">
                            <div class="h1">100UAH</div>
                            <div class="h4"><a href="#">View more</a></div>                       
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="step2-calculation">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="calculation-title">
                                    <div class="h3">
                                        Calculation of th electronic policy for insurance
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="calculation-form">
                                            <form action="">
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-4">
                                                        <div class="form-group">
                                                            <label for="car-number">Car number</label>
                                                            <input type="text" class="form-control" id="car-number" placeholder="Car number">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="vin-code">Vin-code</label>
                                                            <input type="text" class="form-control" id="vin-code" placeholder="vin-code">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="sity-reg">Sity of Registratic</label>
                                                            <input type="text" class="form-control" id="sity-reg" placeholder="Sity code">
                                                            <label for="sity-reg">Specify the city...</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-offset-1 col-md-4">
                                                        <div class="form-group">
                                                            <label for="car-number">Car number</label>
                                                            <input type="text" class="form-control" id="car-number" placeholder="Car number">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="vin-code">Vin-code</label>
                                                            <input type="text" class="form-control" id="vin-code" placeholder="vin-code">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="sity-reg">Sity of Registratic</label>
                                                            <input type="text" class="form-control" id="sity-reg" placeholder="Sity code">
                                                        </div>
                                                        <div class="calculate-button">
                                                            <button type="button" type="submit" class="btn btn-success">Success</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>