<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Insurance/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/motor_steps.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Motor step 2</title>
</head>
<body>
    <div class="company">
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="step2-title">
                            <h2>To purchaise a Motor Liability, choose an insurance company:</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="company-cards">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="company-card">
                            <div class="company-logo-name">
                                <div class="logo">
                                    <img src="https://finscanner.ua/uploads/companies/4f/18/list-580e0cea-99ea1dcc.png" alt="company logo">
                                </div>
                                <div class="name">
                                    <span>Macintosh</span>
                                </div>
                            </div>
                            <div class="company-rate">
                                <div class="stars">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                            <div class="company-price-buy">
                                <div class="price-view">
                                    <div class="price">
                                        100₴
                                    </div>
                                    <a href="">view more</a>
                                </div>
                                <div class="buy">
                                    <button class="btn btn-lg btn-success">Buy</button>
                                </div>
                            </div>
                        </div>
                        <div class="company-card">
                            <div class="company-logo-name">
                                <div class="logo">
                                    <img src="https://finscanner.ua/uploads/companies/7c/c1/list-580e0e7e-b0fa0d5a.jpg" alt="company logo">
                                </div>
                                <div class="name">
                                        <span>Macintosh Macintosh</span>
                                </div>
                            </div>
                            <div class="company-rate">
                                <div class="stars">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                            <div class="company-price-buy">
                                <div class="price-view">
                                    <div class="price">
                                        100₴
                                    </div>
                                    <a href="">view more</a>
                                </div>
                                <div class="buy">
                                    <button class="btn btn-lg btn-success">Buy</button>
                                </div>
                            </div>
                        </div>
                        <div class="company-card">
                            <div class="company-logo-name">
                                <div class="logo">
                                    <img src="https://finscanner.ua/uploads/companies/76/18/list-580e0d11-c40452bb.png" alt="company logo">
                                </div>
                                <div class="name">
                                    <span>Macintosh Macintosh Macintosh</span>
                                </div>
                            </div>
                            <div class="company-rate">
                                <div class="stars">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                            <div class="company-price-buy">
                                <div class="price-view">
                                    <div class="price">
                                        100₴
                                    </div>
                                    <a href="">view more</a>
                                </div>
                                <div class="buy">
                                    <button class="btn btn-lg btn-success">Buy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="calculator">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="step2-calculation">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="calculation-title">
                                        <h2>
                                            Calculation of th electronic policy for insurance
                                        </h2>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="calculation-form">
                                                <form action="">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                                            <div class="form1">
                                                                <div class="form-group">
                                                                    <label for="car-number">Car number</label>
                                                                    <input type="text" class="form-control" id="car-number" placeholder="Car number">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="vin-code">Vin-code</label>
                                                                    <input type="password" class="form-control" id="vin-code" placeholder="Vin-code">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="sity-reg">City of Registration</label>
                                                                    <input type="text" class="form-control" id="sity-reg" placeholder="City code">
                                                                    <label id="little-text" for="sity-reg">Specify the city...</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                                            <div class="form2">
                                                                <div class="form-group">
                                                                    <label for="car-number">Brand and model</label>
                                                                    <input type="text" class="form-control" id="car-number" placeholder="Brand">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="vin-code">Made</label>
                                                                    <input type="text" class="form-control" id="vin-code" placeholder="Made">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="sity-reg">Type of vehicle</label>
                                                                    <input type="text" class="form-control" id="sity-reg" placeholder="Type of vehicle">
                                                                </div>
                                                                <div class="calculate-button">
                                                                    <button type="button" type="submit" class="btn btn-success">Recalculate</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>