<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Insurance/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/motor_steps.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Motor step 3</title>
</head>
<body>
    <div class="step3-form">
        <div class="container">
            <div class="step3-form-wrapper">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="order-card">
                            <div class="card-titles">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">You order</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Type:</th>
                                            <td>Motor liability</td>
                                        </tr>
                                        <tr>
                                            <th>Company:</th>
                                            <td>UPSK</td>
                                        </tr>
                                        <tr>
                                            <th>Limit coverage:</th>
                                            <td>$30 000</td>
                                        </tr>
                                        <tr>
                                            <th>Francise:</th>
                                            <td>$100</td>
                                        </tr>
                                        <tr>
                                            <th>Validity:</th>
                                            <td>12 month</td>
                                        </tr>
                                        <tr>
                                            <th>Total:</th>
                                            <td>1400 UAH</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="customer-info">
                            <div class="info-title">
                                Enter contact information
                            </div>
                            <form class="form-horizontal" role="form">
                                <div class="field-section">
                                    <div class="field-name">
                                        <label for="">Full name</label>
                                    </div>
                                    <div class="field">
                                        <input type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="field-section">
                                    <div class="field-name">
                                        <label for="">Email</label>
                                    </div>
                                    <div class="field">
                                        <input type="text" placeholder="your@email.com">
                                    </div>
                                </div>
                                <div class="field-section">
                                    <div class="field-name">
                                        <label for="">Phone</label>
                                    </div>
                                    <div class="field">
                                        <input type="text" placeholder="+(380)-00-000-00-00">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-checkbox">
                                        <label for="success"><input type="checkbox" id="success" unchecked/>I agree with conditions for processing personal data</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-push-6 col-md-6">
                                <div class="buttons">
                                    <button type="submit" class="btn btn-lg btn-success">Buy online</button>
                                    <button type="submit" class="btn btn-lg btn-success">Buy 1 cklick</button>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-pull-6 col-md-6">
                                <div class="back-button">
                                    <button type="button" class="btn btn-warning btn-lg">Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>