<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Insurance/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/motor_steps.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Motor step 4</title>
</head>
<body>
    <div class="step4-form">
        <div class="container">
            <div class="row">
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <form action="">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="modal-card">
                                            <div class="card-titles">
                                                <ul>
                                                    <li>
                                                        <span class="card-title"><b>Insurant</b></span> 
                                                        <span class="card-meaning"></span>
                                                    </li>
                                                    <li>
                                                        <span class="card-title">Name:</span> 
                                                        <span class="card-meaning">Carl</span>
                                                    </li>
                                                    <li>
                                                        <span class="card-title">Surname:</span> 
                                                        <span class="card-meaning">Johnson</span>
                                                    </li>
                                                    <li>
                                                        <span class="card-title">Patronymic:</span> 
                                                        <span class="card-meaning">-</span>
                                                    </li>
                                                    <li>
                                                        <span class="card-title">Date of birthday:</span> 
                                                        <span class="card-meaning">01/01/1980</span>
                                                    </li>
                                                    <li>
                                                        <span class="card-title">Passport:</span> 
                                                        <span class="card-meaning">BH666777</span>
                                                    </li>
                                                    <li>
                                                        <span class="card-title">Issued by</span> 
                                                        <span class="card-meaning">sometjing</span>
                                                    </li>
                                                    <li>
                                                        <span class="card-title">When</span> 
                                                        <span class="card-meaning">12/07/1996</span>
                                                    </li>
                                                    <li>
                                                        <span class="card-title">ITN</span> 
                                                        <span class="card-meaning">1110111001</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="modal-card">
                                            <div class="card-titles">
                                                <ul>
                                                    <li>
                                                        <span class="card-title"><b>Vehicle</b></span> 
                                                        <span class="card-meaning"></span>
                                                    </li>
                                                    <li>
                                                        <span class="card-title">Year of issue:</span> 
                                                        <span class="card-meaning">2018</span>
                                                    </li>
                                                    <li>
                                                        <span class="card-title">Brand:</span> 
                                                        <span class="card-meaning">Alfa Zhigul</span>
                                                    </li>
                                                    <li>
                                                        <span class="card-title">Modell:</span> 
                                                        <span class="card-meaning">47</span>
                                                    </li>
                                                    <li>
                                                        <span class="card-title">Registration:</span> 
                                                        <span class="card-meaning">Kiev</span>
                                                    </li>
                                                    <li>
                                                        <span class="card-title">VIN:</span> 
                                                        <span class="card-meaning">GAGAGALOLOLO</span>
                                                    </li>
                                                    <li>
                                                        <span class="card-title">State number:</span> 
                                                        <span class="card-meaning">ABRACADEBRA12</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-6">
                                                <div class="modal-card">
                                                    <div class="card-titles">
                                                        <ul>
                                                            <li>
                                                                <span class="card-title"><b>Address of Registration</b></span> 
                                                                <span class="card-meaning"></span>
                                                            </li>
                                                            <li>
                                                                <span class="card-title">Locality:</span> 
                                                                <span class="card-meaning">Fastiv</span>
                                                            </li>
                                                            <li>
                                                                <span class="card-title">Street:</span> 
                                                                <span class="card-meaning">JoinToIt street</span>
                                                            </li>
                                                            <li>
                                                                <span class="card-title">House number:</span> 
                                                                <span class="card-meaning">777</span>
                                                            </li>
                                                            <li>
                                                                <span class="card-title">Flat:</span> 
                                                                <span class="card-meaning">69</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6">
                                                <div class="modal-card">
                                                    <div class="card-titles">
                                                        <ul>
                                                            <li>
                                                                <span class="card-title"><b>Contact info</b></span> 
                                                                <span class="card-meaning"></span>
                                                            </li>
                                                            <li>
                                                                <span class="card-title">phone:</span> 
                                                                <span class="card-meaning">8 800 535 35 35</span>
                                                            </li>
                                                            <li>
                                                                <span class="card-title">Email:</span> 
                                                                <span class="card-meaning">shlapa@sho.com</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label>Select the start date of the insurance policy</label>
                                                <br>
                                                <select id="dayDropDown" name="dayDropDown">
                                                </select>
                                                <select id="monthDropDown" name="monthDropDown">
                                                </select>
                                                <select id="yearDropDown" name="yearDropDown">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6 col-6">
                                                <div class="modal-button-back">
                                                    <button class="btn btn-default btn-lg">Back to filling data</button>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-6">
                                                <div class="modal-button-succes">
                                                    <button class="btn btn-success btn-lg">Back to filling data</button>                                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="order-card">
                        <div class="card-titles">
                            <ul>
                                <li>
                                    <span class="card-title"><b>You order:</b></span> 
                                    <span class="card-meaning"></span>
                                </li>
                                <li>
                                    <span class="card-title">Type:</span> 
                                    <span class="card-meaning">Motor liability</span>
                                </li>
                                <li>
                                    <span class="card-title">Company:</span> 
                                    <span class="card-meaning">UPSK</span>
                                </li>
                                <li>
                                    <span class="card-title">Limit coverage:</span> 
                                    <span class="card-meaning">$30 000</span>
                                </li>
                                <li>
                                    <span class="card-title">Francise:</span> 
                                    <span class="card-meaning">$100</span>
                                </li>
                                <li>
                                    <span class="card-title">Validaty:</span> 
                                    <span class="card-meaning">12 month</span>
                                </li>
                                <li>
                                    <span class="card-title"><b>Total:</b></span> 
                                    <span class="card-meaning"><b>1400 UAH</b></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact-info">
                        <div class="h4">Enter contact information</div>
                        <form action="">
                            <div class="form-group">
                                <div class="pasport">
                                    <label for="">Passport series and number</label>
                                    <input type="text">
                                    <input type="text">
                                </div>
                                <div class="issued">
                                    <label for="">Issued by</label>
                                    <input type="text">
                                </div>
                                <div class="when">
                                    <label for="">When</label>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Day <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Действие</a></li>
                                            <li><a href="#">Другое действие</a></li>
                                            <li><a href="#">Что-то иное</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Отдельная ссылка</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Month <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Действие</a></li>
                                            <li><a href="#">Другое действие</a></li>
                                            <li><a href="#">Что-то иное</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Отдельная ссылка</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Year <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Действие</a></li>
                                            <li><a href="#">Другое действие</a></li>
                                            <li><a href="#">Что-то иное</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Отдельная ссылка</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="name">
                                    <label for="">Name</label>
                                    <input type="text">
                                </div>
                                <div class="surname">
                                    <label for="">Surname</label>
                                    <input type="text">
                                </div>
                                <div class="Patronymic">
                                    <label for="">Patronymic</label>
                                    <input type="text">
                                </div>
                                <div class="birthday">
                                    <label for="">Date of birthday</label>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Day <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Действие</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Month <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Действие</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Year <span class="caret"></span></button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Действие</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="itn">
                                    <label for="">ITN</label>
                                    <input type="text">
                                </div>
                                <div class="reg-adr">
                                    <label for="">Registration address</label>
                                    <input type="text">
                                </div>
                                <div class="itn">
                                    <label for="">ITN</label>
                                    <input type="text">
                                </div>
                                <div class="h3">Enter the address of registration of the incured</div>
                                .<div class="locality">
                                    <label for="">Locality</label>
                                    <input type="text">
                                </div>
                                <div class="street">
                                    <label for="">Street</label>
                                    <input type="text">
                                </div>
                                <div class="house">
                                    <label for="">House number</label>
                                    <input type="text">
                                    <label for="">Flat</label>
                                    <input type="text">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button class="btn btn-warning btn-lg">Back</button>
                        </div>
                        <div class="col-xs-offset-3 col-xs-3 col-sm-offset-3 col-sm-3 col-md-offset-3 col-md-3">
                            <button class="btn btn-success btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var monthtext = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];

function populatedropdown(dayfield, monthfield, yearfield) {
    var today = new Date()
    var dayfield = document.getElementById(dayfield)
    var monthfield = document.getElementById(monthfield)
    var yearfield = document.getElementById(yearfield)
    for (var i = 0; i < 31; i++)
        dayfield.options[i] = new Option(i, i + 1)
    dayfield.options[today.getDate()] = new Option(today.getDate(), today.getDate(), true, true) //select today's day
    for (var m = 0; m < 12; m++)
        monthfield.options[m] = new Option(monthtext[m], monthtext[m])
    monthfield.options[today.getMonth()] = new Option(monthtext[today.getMonth()], monthtext[today.getMonth()], true, true) //select today's month
    var thisyear = today.getFullYear()
    for (var y = 0; y < 20; y++) {
        yearfield.options[y] = new Option(thisyear, thisyear)
        thisyear += 1
    }
    yearfield.options[0] = new Option(today.getFullYear(), today.getFullYear(), true, true) //select today's year
}

//populatedropdown(id_of_day_select, id_of_month_select, id_of_year_select)
window.onload = function () {
    populatedropdown("dayDropDown", "monthDropDown", "yearDropDown")
}
    </script>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bootstrap-3.3.2-dist/js/bootstrap.min.js"></script> 
</body>
</html>